body {

    background-color: rgb(208, 175, 175);

}

#TitleBar {

    position: absolute;
    background-color: transparent;
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(164, 181, 181);
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(1.2 * 1em);
    font-weight: 700;
    overflow: hidden;
    border: 0px;
    height: 50px;
    top: calc(var(--mainbarheight) / 2 - 50px/2);
    margin: 0 auto;

}

#Projects {
    position: absolute;
    display: flex;

    height: 100%;
    width: 10%;
    left: 15%;
    right: 75%;
    justify-content: center;
    align-items: center;
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

    font-size: calc(0.7 * 1em);
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;
    margin: 0 auto;

}

#DropDown_Projects {
    position: absolute;
    display: none;
    flex-direction: column;
    height: 1000%;
    width: 10%;
    left: 15%;
    right: 75%;
    top: var(--mainbarheight);
    justify-content: center;
    align-items: center;
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-stroke: 0;
    font-size: calc(0.6 * 1em);
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 5;
    margin: 0 auto;

}

#BaseDropDown_Projects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(font-size * 1em);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    overflow: hidden;
    font-size: calc(1 * 1em);
    border-radius: 5px;
    margin: 0 auto;

}

#PageTitle {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    -webkit-text-fill-color: rgb(0, 0, 0);
    font-weight: 700;
    margin: 0 auto;

}

#MainBar {

    position: absolute;
    --mainbarheight: 40px;
    height: var(--mainbarheight);
    width: 100%;
    left: 0;
    top: 0;
    background-color: gray;
    margin: 0 auto;

}

#ProjectContent {

    background-color: rgb(255, 255, 255);
    z-index: 10;
    margin: 0 auto;

}

#ProjectImage {
    position: relative;
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    margin: 0 auto;

}

#showcaseLabel {

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0 auto;


}


#imageSlide {

    --mainBox: 250px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--mainBox);
    width: 90%;
    background-color: rgb(202, 183, 183, 0);
    margin: 0 auto;
    border-radius: 10px;
    border-color: rgb(0, 0, 0, 0);
    border-style: solid;
    border-width: 0.25;
    box-sizing: border-box;

    

}

#squares {

    position: absolute;
    display: flex;
    background-color: rgb(255, 255, 255, 0.3);
    width: 25px;
    height: 25px;

    border-radius: 100px;
    border-color: rgb(0, 0, 0, 0.3);
    border-style: solid;
    border-width: 0.25;

    bottom: 0;
}

#fitFrame {

    position: absolute;
    display: flex;
    width: 75%;
    height: 75%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: rgb(0, 0, 0, 0);
    border-style: solid;
    border-width: 0.25;
    box-sizing: border-box;
    margin: 0 auto;
    outline: 5px solid rgb(0,0,0,0.25); /* Add a stroke (outline) */
    overflow: hidden;

}

#urlShowcase {

    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto; 
    border-radius: 10px;
    transition: transform 0.5s ease, opacity 0.5s ease; 


}

#bulletLabel {

    margin-right: 10%;
    list-style: disc;
    font-size: calc(1em);
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10%;

}

#titleText {

    text-indent: 1%;

}

#DescText {

    text-indent: 5%;
}